body {
font-family: sans-serif;
}

.container {
    position: relative;
}


.main {
    position: relative;
    top: 120px;
    width: 400px;
    border: 2px solid #a6a6a6;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    text-align: center;
}

.logo {
    width: 100px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.login-form{
    position: relative;
    font-size: 18px;
    height: auto;
    width: auto;
    text-align: center;
    padding: 10px;
    margin: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
}


.login-form input[type="text"] {

    display: block;
    margin: 0 auto;
}

.button-signin {
    position: relative;
    background-color: blue;
    color: white;
    height: auto;
    width: auto;
    text-align: center;
    padding: 10px;
    margin: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;

}

.button-signin:hover {
background-color: pink;
}

.password-link {
    font-size: 14px;
    text-align: center;
    display: block;
    margin: 10px;
}

