<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/static/css/boogle.css">

    <title>Boogle</title>
</head>
<body>

<div class="container">
    <div class="main">
        <div class="logo">

        <img src="/static/img/Boogle.png">
        </div>


            <input type="text" class="login-form" placeholder="Email">
            <input type="text" class="login-form" placeholder="Password">

            <a href="https://www.google.at/" class="password-link">Forgot your password?</a>

            <button type="button" class="button-signin">Sign In</button>



    </div>
</div>




</body>
</html>