<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="me, hobbies, fakebook">
    <meta name="author" content="Marietta">

    <link rel="stylesheet" href="/static/css/style_FB.css">

    <title>My Fakebook</title>



</head>


<body>
<h1>Marietta's Fakebook Profile</h1>
<br>
<h2>About</h2>
<br>
<p class="hello">Hello!</p>

<p>Welcome to my Fakebook page! My name is Marietta.</p>

<h3>Education</h3>

<p>Some info on my education</p>

<img src="/static/img/Travelling.jpg">

<h3>Hobbies & Interests</h3>

<p>In my spare time, I like to</p>
<ul>
    <li><b>hobby1</b></li>
    <li>do <b>hobby2</b></li>
    <li><b>hobby3</b>.</li>
</ul>

<p class="background">I am also doing a  <a href="http://smartninja.org">smart ninja course</a>.</p>

</body>
</html>