<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>These are my SmartNinja Webdevelopment 1 - Projects:</h1>
    <a href="/portfolio/fakebook">Fakebook</a> <br>
    <a href="/portfolio/boogle">Boogle</a> <br>
    <a href="/portfolio/hairsaloon">Hair Saloon</a> <br><br>
    <p>Move to:</p>
    <a href="/">Home</a> <br>
    <a href="/about">About me</a> <br>


</body>
</html>